{% extends application_layout %}
{% block title %}
    {{ "Updates Configuration" | format_page_title }}
{% endblock title %}
{% block content %}
    <section id="updates-configuration">
        <div id="react-organization-updates-configuration"></div>
    </section>
{% endblock content %}
