interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://slack.com/api/team.info
  response:
    body:
      string: '{"ok":true,"team":{"id":"T076JEXPWTZ","name":"Dev Sandbox","url":"https:\/\/devsandboxspace.slack.com\/","domain":"devsandboxspace","email_domain":"convictional.com","avatar_base_url":"https:\/\/ca.slack-edge.com\/","is_verified":false,"icon":{"image_default":true,"image_34":"https:\/\/a.slack-edge.com\/80588\/img\/avatars-teams\/ava_0008-34.png","image_44":"https:\/\/a.slack-edge.com\/80588\/img\/avatars-teams\/ava_0008-44.png","image_68":"https:\/\/a.slack-edge.com\/80588\/img\/avatars-teams\/ava_0008-68.png","image_88":"https:\/\/a.slack-edge.com\/80588\/img\/avatars-teams\/ava_0008-88.png","image_102":"https:\/\/a.slack-edge.com\/80588\/img\/avatars-teams\/ava_0008-102.png","image_230":"https:\/\/a.slack-edge.com\/80588\/img\/avatars-teams\/ava_0008-230.png","image_132":"https:\/\/a.slack-edge.com\/80588\/img\/avatars-teams\/ava_0008-132.png"},"lob_sales_home_enabled":false,"is_sfdc_auto_slack":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-accepted-oauth-scopes:
      - team:read
      x-backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      x-edge-backend:
      - envoy-www
      x-geoname-id:
      - notfound
      x-oauth-scopes:
      - identify,channels:history,groups:history,channels:read,groups:read,search:read,team:read,users:read,users:read.email
      x-server:
      - slack-www-hhvm-main-iad-qyfnae7n8zob
      x-slack-backend:
      - r
      x-slack-edge-shared-secret-outcome:
      - no-match
      x-slack-req-id:
      - 00973b0911d63a5f43afc9e2b187e06c
      x-slack-shared-secret-outcome:
      - no-match
      x-slack-unique-id:
      - aTHZkF3kZu6-VPGHxYaO4wAAABc
    status:
      code: 200
      message: OK
version: 1
