interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://slack.com/api/conversations.replies?channel=C077BMKNLHF&ts=1764860468.176179&limit=6
  response:
    body:
      string: '{"ok":true,"messages":[{"user":"U09U3K7U1L4","type":"message","ts":"1764860468.176179","client_msg_id":"c35b8c61-3b44-423a-809d-4ea19e221c9e","text":"Project
        update - the integration is coming together!","team":"T076JEXPWTZ","thread_ts":"1764860468.176179","reply_count":1,"reply_users_count":1,"latest_reply":"1764860513.345229","reply_users":["U09U3K7U1L4"],"is_locked":false,"subscribed":true,"last_read":"1764860513.345229","blocks":[{"type":"rich_text","block_id":"2Mter","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"Project
        update - the integration is coming together!"}]}]}]},{"user":"U09U3K7U1L4","type":"message","ts":"1764860513.345229","client_msg_id":"54e10d41-31bf-4b60-af77-0f7f54742946","text":"We
        are getting results but need to figure out citations, resolving users, and
        expanding context to include surrounding messages and nested comments","team":"T076JEXPWTZ","thread_ts":"1764860468.176179","parent_user_id":"U09U3K7U1L4","blocks":[{"type":"rich_text","block_id":"5jv8X","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"We
        are getting results but need to figure out citations, resolving users, and
        expanding context to include surrounding messages and nested comments"}]}]}]}],"has_more":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-accepted-oauth-scopes:
      - channels:history,groups:history,mpim:history,im:history,read
      x-backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      x-edge-backend:
      - envoy-www
      x-geoname-id:
      - notfound
      x-oauth-scopes:
      - identify,channels:history,groups:history,channels:read,groups:read,search:read,team:read,users:read,users:read.email
      x-server:
      - slack-www-hhvm-main-iad-1qt835hskb17
      x-slack-backend:
      - r
      x-slack-edge-shared-secret-outcome:
      - no-match
      x-slack-req-id:
      - 7dee22664250be6ebad09755d655166b
      x-slack-shared-secret-outcome:
      - no-match
      x-slack-unique-id:
      - aTHZjPITTDFsHbq7bP__ggAAABE
    status:
      code: 200
      message: OK
version: 1
