interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://slack.com/api/search.messages?query=Project+Update&count=5&page=1&sort=timestamp&sort_dir=desc
  response:
    body:
      string: '{"ok":true,"query":"Project Update","messages":{"total":1,"pagination":{"total_count":1,"page":1,"per_page":5,"page_count":1,"first":1,"last":1},"paging":{"count":5,"total":1,"page":1,"pages":1},"matches":[{"db_message":{},"iid":"70e03f6f-fe78-41c5-80f8-8c2721060ec9","team":"T076JEXPWTZ","score":0,"channel":{"id":"C077BMKNLHF","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_shared":false,"is_org_shared":false,"is_ext_shared":false,"is_private":false,"name":"all-dev-sandbox","pending_shared":[],"is_pending_ext_shared":false},"type":"message","user":"U09U3K7U1L4","username":"jake","ts":"1764860468.176179","blocks":[{"type":"rich_text","block_id":"2Mter","elements":[{"type":"rich_text_section","elements":[{"type":"text","text":"Project
        update - the integration is coming together!"}]}]}],"text":"Project update
        - the integration is coming together!","permalink":"https:\/\/devsandboxspace.slack.com\/archives\/C077BMKNLHF\/p1764860468176179?thread_ts=1764860468.176179","no_reactions":true}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-accepted-oauth-scopes:
      - search:read
      x-backend:
      - main_normal main_canary_with_overflow main_control_with_overflow
      x-edge-backend:
      - envoy-www
      x-geoname-id:
      - notfound
      x-oauth-scopes:
      - identify,channels:history,groups:history,channels:read,groups:read,search:read,team:read,users:read,users:read.email
      x-server:
      - slack-www-hhvm-main-iad-luzt95239h3w
      x-slack-backend:
      - r
      x-slack-edge-shared-secret-outcome:
      - no-match
      x-slack-req-id:
      - 9ace9e44e67f14f388982319f04a47b2
      x-slack-shared-secret-outcome:
      - no-match
      x-slack-unique-id:
      - aTHZjQWSWEJMCXni3nB5DQAAADw
    status:
      code: 200
      message: OK
version: 1
