# Anthropic API key is used for inference throughout the application.
ANTHROPIC_API_KEY=your-anthropic-api-key
# OpenAI API key is used for content embeddings only.
OPENAI_ORGANIZATION=your-openai-organization
OPENAI_API_KEY=your-openai-api-key
