{% set plain_text_timestamp = format_datetime(in_reply_to.sent_at or in_reply_to.received_at, "datetime_long", timezone) %}
<br />


:::quoted_html{collapsed=true}
{% if in_reply_to.sent_at or in_reply_to.received_at %}On {{ plain_text_timestamp }}, {{ in_reply_to.sender_address.name }} wrote:{% else %}{{ in_reply_to.sender_address.name }} wrote:{% endif %}
{% if in_reply_to.body_html -%}
{{ in_reply_to.body_html|sanitize_email_html_content|safe }}
{% elif in_reply_to.body_plain -%}
<p>{{ in_reply_to.body_plain|linebreaksbr }}</p>
{% else -%}
<p><em>No content</em></p>
{% endif -%}
:::
