{% extends "base.jinja" %}

{% block subject %}Re: ({{ 'Announcement' if event.workspace.resource.is_announcement else 'Post' }}) {{ event.workspace.resource.title }}{% endblock %}

{% block body_markdown %}
{{ event.creator.display_name }} pinned the post.

---
[View on Convictional]({{ url_for("posts_show", post_id=event.workspace.resource.id) }})
{% endblock %}
