{% extends application_layout %}
{% block title %}
    Meetings
{% endblock title %}
{% block content %}
    <div id="react-meetings-upcoming-index"
         data-props="{{ meetings_upcoming_index_props | tojson }}"></div>
{% endblock content %}
