interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us-east-1.recall.ai/api/v1/calendar/user/
  response:
    body:
      string: '{"id":"d563b97a-1206-4e6f-914b-451409c1f740","external_id":"65e8cc1e-a789-4af6-a287-1908d927ff67","connections":[{"platform":"google","connected":true,"email":"dana.holbrook@example.com","id":"fb7c8326-4a2a-4520-ac87-f143b530c591"},{"platform":"microsoft","connected":false,"email":null,"id":null}],"preferences":{"id":"706fbbfd-9712-44a7-a464-ac7301ca013a","record_non_host":false,"record_recurring":false,"record_external":false,"record_internal":false,"record_confirmed":false,"record_only_host":false,"bot_name":"Convictional
        Bot"}}'
    headers:
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
