interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us-east-1.recall.ai/api/v1/bot/
  response:
    body:
      string: '{"id":"05ed1b80-bcbb-402a-ae1f-80c00b03f42d","video_url":null,"status_changes":[],"meeting_metadata":null,"meeting_participants":[],"meeting_url":{"meeting_id":"azj-itsc-jpp","platform":"google_meet"},"metadata":{},"join_at":null,"calendar_meetings":[],"recording":null,"recordings":[]}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
