interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us-east-1.recall.ai/api/v1/bot/
  response:
    body:
      string: '{"id":"bac7a4d1-c8f7-4599-a4f8-b6f729a63114","video_url":null,"status_changes":[{"code":"ready","message":null,"created_at":"2024-09-19T17:41:03.040176Z","sub_code":null}],"meeting_metadata":null,"meeting_participants":[],"meeting_url":{"meeting_id":"azj-itsc-jpo","platform":"google_meet"},"metadata":{},"join_at":null,"calendar_meetings":[],"recording":null,"recordings":[]}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
