interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us-east-1.recall.ai/api/v1/bot/a4f9a809-8798-418f-b8ab-585c32267f44/transcript
  response:
    body:
      string: '[{"words": [{"text": "Testing recording at the meeting.", "start_timestamp":
        0.0, "end_timestamp": 1.6419107913970947, "language": null, "confidence":
        null}], "speaker": "Dana Holbrook", "speaker_id": 100, "language": "en-us"},
        {"words": [{"text": "testing.", "start_timestamp": 5.22265100479126, "end_timestamp":
        8.849352836608887, "language": null, "confidence": null}], "speaker": "Dana
        Holbrook", "speaker_id": 100, "language": "en-us"}, {"words": [{"text": "Testing
        testing, testing, testing", "start_timestamp": 3.0315816402435303, "end_timestamp":
        8.852570533752441, "language": null, "confidence": null}], "speaker": "Dana
        Holbrook", "speaker_i[...]
