interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us-east-1.recall.ai/api/v1/bot/57032db8-2d7f-4253-8070-f52403eacd38/chat-messages
  response:
    body:
      string: '{"detail":"Not found."}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us-east-1.recall.ai/api/v1/bot/80f4b607-1477-4c07-9962-1c4b8378048b/chat-messages
  response:
    body:
      string: '{"next":null,"previous":null,"results":[{"text":"im here to be immortalized","created_at":"2024-12-03T19:26:04.051096Z","to":"everyone","sender":{"id":400,"name":"Bernadette
        Ashcombe","is_host":false,"platform":"unknown","extra_data":null}},{"text":"I
        now understand the purpose of the meeting","created_at":"2024-12-03T19:26:15.024437Z","to":"everyone","sender":{"id":300,"name":"Callum
        Wexley","is_host":false,"platform":"unknown","extra_data":null}}]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
