interactions:
- request:
    body: '{"to":"ExponentPushToken[abc123]","title":"Project Team","body":"Alice mentioned you","data":{"url":"https://convictional.com/chats/abc","url_path":"/chats/abc","tag":"mention-xyz"},"sound":"default"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://exp.host/--/api/v2/push/send
  response:
    body:
      string: '{"data":{"status":"error","message":"\"ExponentPushToken[abc123]\" is not a registered push notification recipient","details":{"error":"DeviceNotRegistered"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
