interactions:
- request:
    body: '{"to":"ExponentPushToken[abc123]","title":"Project Team","body":"Alice mentioned you","data":{"url":"https://convictional.com/chats/abc","url_path":"/chats/abc","tag":"mention-xyz"},"sound":"default"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://exp.host/--/api/v2/push/send
  response:
    body:
      string: '{"errors":[{"code":"VALIDATION_ERROR","message":"Malformed request"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 400
      message: Bad Request
version: 1
