interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us-east-1.recall.ai/api/v1/bot/
  response:
    body:
      string: '{"id":"f3353c74-1ddf-42c5-9e4c-bf7b7cb20716","video_url":null,"media_retention_end":null,"status_changes":[{"code":"ready","message":null,"created_at":"2024-12-05T19:01:07.627236Z","sub_code":null}],"meeting_metadata":null,"meeting_participants":[],"meeting_url":{"meeting_id":"ebf-sucq-adc","platform":"google_meet"},"metadata":{},"bot_name":"convictional.com","join_at":null,"transcription_options":{"provider":"meeting_captions","use_separate_streams_when_available":false},"automatic_leave":{"waiting_room_timeout":1200,"noone_joined_timeout":1200,"everyone_left_timeout":2,"in_call_not_recording_timeout":3600,"recording_permission_denied_timeout":3600,"silence_detection":{"timeout":3600,"activate_after":1200},"bot_detection":{"using_participant_events":{"timeout":600,"activate_after":1200}}},"calendar_meetings":[],"recording_mode":"speaker_view","recording":null,"recordings":[]}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us-east-1.recall.ai/api/v1/bot/
  response:
    body:
      string: '{"id":"17468003-5abb-4b40-8bdf-c8026915973b","video_url":null,"media_retention_end":null,"status_changes":[],"meeting_metadata":null,"meeting_participants":[],"meeting_url":{"meeting_id":"ebf-sucq-adc","platform":"google_meet"},"metadata":{},"bot_name":"convictional.com","join_at":null,"transcription_options":{"provider":"meeting_captions","use_separate_streams_when_available":false},"automatic_leave":{"waiting_room_timeout":1200,"noone_joined_timeout":1200,"everyone_left_timeout":2,"in_call_not_recording_timeout":3600,"recording_permission_denied_timeout":3600,"silence_detection":{"timeout":3600,"activate_after":1200},"bot_detection":{"using_participant_events":{"timeout":600,"activate_after":1200}}},"calendar_meetings":[],"recording_mode":"speaker_view","recording":null,"recordings":[]}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
